module {{.Value.App.ModName}}

go {{.Value.App.Go.Version}}

require (
	github.com/gin-gonic/gin v1.6.3
	{{- if hasDB .Value "mysql"}}
    github.com/go-sql-driver/mysql v1.6.0
    {{- else if hasDB .Value "postgres"}}
     github.com/lib/pq v1.3.0
    {{- end}}
    {{- if .Config.Swagger.Enable }}
    github.com/alecthomas/template v0.0.0-20190718012654-fb15b899a751 // indirect
	github.com/swaggo/gin-swagger v1.3.0
	github.com/swaggo/swag v1.7.0
	{{- end}}
	{{- if .Config.Gobatis.Enable }}
	github.com/xfali/gobatis v0.2.6
	github.com/xfali/pagehelper v0.1.3
	github.com/xfali/neve-database v0.0.2
	{{- end}}
	{{- if .Config.RestClient.Enable }}
	github.com/xfali/restclient/v2 v2.0.0-20210823155022-831bbb3a4fba
	{{- end}}
	github.com/xfali/neve-core v0.2.5
	github.com/xfali/neve-logger v0.0.0-20210610141656-287daf03f6c8
	github.com/xfali/neve-utils v0.0.1
	github.com/xfali/neve-web v0.0.9
	github.com/xfali/xlog v0.1.6
)