module {{.Value.App.ModName}}

go 1.14

require (
	github.com/gin-gonic/gin v1.6.3
	github.com/go-sql-driver/mysql v1.6.0
	github.com/swaggo/gin-swagger v1.3.0
	github.com/swaggo/swag v1.7.0
	github.com/xfali/gobatis v0.2.6
	github.com/xfali/neve-core v0.0.2
	github.com/xfali/neve-database v0.0.2
	github.com/xfali/neve-logger v0.0.0-20210416143921-599980a3621b
	github.com/xfali/neve-utils v0.0.1
	github.com/xfali/neve-web v0.0.6
	github.com/xfali/xlog v0.1.5
)