{{- $ModuleName := firstUpper .Name -}}
{{- $PrimaryKeyValueImport := setPrimaryKeyValueImport . -}}
package {{.Pkg}}

import (
    "fmt"
	"github.com/gin-gonic/gin"
	"github.com/xfali/neve-web/gineve/midware/loghttp"
	"github.com/xfali/xlog"
	"net/http"
    {{- if $PrimaryKeyValueImport}}
    "{{$PrimaryKeyValueImport}}"
    {{- end}}
)

type {{$ModuleName}}Handler struct {
	log  xlog.Logger
	Svc  {{$ModuleName}}Service   `inject:""`
	HLog loghttp.HttpLogger `inject:""`
}

func New{{$ModuleName}}Handler() *{{$ModuleName}}Handler {
	return &{{$ModuleName}}Handler{
		log: xlog.GetLogger(),
	}
}

func (h *{{$ModuleName}}Handler) HttpRoutes(engine gin.IRouter) {
    engine.GET("/{{ firstLower .Name }}s", h.HLog.LogHttp(), h.queryList)
	engine.GET("/{{ firstLower .Name }}s/:id", h.HLog.LogHttp(), h.query)
	engine.POST("/{{ firstLower .Name }}s", h.HLog.LogHttp(), h.insert)
	engine.PUT("/{{ firstLower .Name }}s/:id", h.HLog.LogHttp(), h.update)
	engine.DELETE("/{{ firstLower .Name }}s/:id", h.HLog.LogHttp(), h.delete)
}

// @Summary Query {{.Name}} list
// @Description Query {{.Name}} list
// @Tags {{.Name}}
// @Success 200 {array} {{.Pkg}}.{{$ModuleName}}
// @Failure 400 {string} string "param error"
// @Failure 404 {string} string "resource not exists"
// @Router /{{ firstLower .Name }}s [get]
func (h *{{$ModuleName}}Handler) queryList(ctx *gin.Context) {
	v, err := h.Svc.Query{{$ModuleName}}({{$ModuleName}}{})
	if err != nil {
        ctx.AbortWithStatus(http.StatusBadRequest)
        return
    }

	ctx.JSON(200, v)
}

// @Summary Query {{.Name}}
// @Description Query {{.Name}}
// @Tags {{.Name}}
// @Param id path string true "id"
// @Success 200 {object} {{.Pkg}}.{{$ModuleName}}
// @Failure 400 {string} string "param error"
// @Failure 404 {string} string "id not exists"
// @Router /{{ firstLower .Name }}s/{id} [get]
func (h *{{$ModuleName}}Handler) query(ctx *gin.Context) {
    id := ctx.Param("id")
	if id == "" {
		ctx.AbortWithStatus(http.StatusBadRequest)
		return
	}
	req := {{$ModuleName}} {
    }
    {{ setPrimaryKeyValue . "req" "id" }}
	v, err := h.Svc.Query{{$ModuleName}}(req)
    if err != nil {
        ctx.AbortWithStatus(http.StatusBadRequest)
        return
    }

    if len(v) == 0 {
        ctx.AbortWithStatus(http.StatusNotFound)
        return
    }

    ctx.JSON(200, v[0])
}

// @Summary Insert {{.Name}}
// @Description Insert {{.Name}}
// @Tags {{.Name}}
// @Param value body {{.Pkg}}.{{$ModuleName}} true "value"
// @Success 200
// @Failure 400 {string} string "param error"
// @Router /{{ firstLower .Name }}s [post]
func (h *{{$ModuleName}}Handler) insert(ctx *gin.Context) {
    req := {{$ModuleName}} {
	}
	err := ctx.Bind(&req)
    if err != nil {
        ctx.AbortWithStatus(http.StatusBadRequest)
        return
    }
	id, err := h.Svc.Insert{{$ModuleName}}(req)
    if err != nil {
        ctx.AbortWithStatus(http.StatusBadRequest)
        return
    }
    ctx.Writer.Write([]byte(fmt.Sprintf("%v", id)))
}

// @Summary Update {{.Name}} by Id
// @Description Update {{.Name}} by Id
// @Tags {{.Name}}
// @Param id path string true "id"
// @Param value body {{.Pkg}}.{{$ModuleName}} true "value"
// @Success 200
// @Failure 400 {string} string "param error"
// @Failure 404 {string} string "id not exists"
// @Router /{{ firstLower .Name }}s/{id} [put]
func (h *{{$ModuleName}}Handler) update(ctx *gin.Context) {
	id := ctx.Param("id")
	if id == "" {
		ctx.AbortWithStatus(http.StatusBadRequest)
		return
	}
	req := {{$ModuleName}} {
	}
	err := ctx.Bind(&req)
	if err != nil {
		ctx.AbortWithStatus(http.StatusBadRequest)
		return
	}
	{{ setPrimaryKeyValue . "req" "id" }}
	done, err := h.Svc.Update{{$ModuleName}}(req)
    if !done {
        ctx.AbortWithStatus(http.StatusNotFound)
        return
    }
    if err != nil {
        ctx.AbortWithStatus(http.StatusBadRequest)
        return
    }
}

// @Summary Delete {{.Name}} by Id
// @Description Delete {{.Name}} by Id
// @Tags {{.Name}}
// @Param id path string true "id"
// @Success 200
// @Failure 400 {string} string "param error"
// @Failure 404 {string} string "id not exists"
// @Router /{{ firstLower .Name }}s/{id} [delete]
func (h *{{$ModuleName}}Handler) delete(ctx *gin.Context) {
	id := ctx.Param("id")
	if id == "" {
		ctx.AbortWithStatus(http.StatusBadRequest)
		return
	}
	req := {{$ModuleName}} {
    }
	{{ setPrimaryKeyValue . "req" "id" }}
	ok, err := h.Svc.Delete{{$ModuleName}}(req)
	if !ok {
		ctx.AbortWithStatus(http.StatusNotFound)
		return
	}
    if err != nil {
        ctx.AbortWithStatus(http.StatusBadRequest)
        return
    }
}