{{- $Data := . -}}
{{- $Module := currentModule -}}
{{- $ModuleName :=  firstUpper $Module.Name -}}
package {{$Module.Pkg}}

{{setModelMemberImport $Module}}
type {{$ModuleName}} struct {
	{{- range $Module.Infos }}
	{{- if .Comment}}
	// {{.Comment}}
	{{- end}}
    {{ firstUpper .Name }} {{ .DataType }} `{{if .Tag}}{{withTag $Data .Name .Tag}}{{else}}{{withTag $Data .Name ""}}{{end}}`
	{{- end}}
}
