{{- $ModuleName := firstUpper .Value.Name -}}
package {{.Value.Pkg}}

type {{$ModuleName}} struct {
	{{- range .Value.Infos }}
	{{- if .Comment}}
	// {{.Comment}}
	{{- end}}
    {{ firstUpper .Name }} {{ .DataType }} {{if .Tag}}`{{.Tag}}`{{end}}
	{{- end}}
}