{{- $Module := currentModule -}}
{{- $ModuleName :=  firstUpper $Module.Name -}}
package {{$Module.Name}}

type {{$ModuleName}} struct {
	{{- range $Module.Infos }}
	{{- if .Comment}}
	// {{.Comment}}
	{{- end}}
    {{ firstUpper .Name }} {{ .DataType }} {{if .Tag}}`{{.Tag}}`{{end}}
	{{- end}}
}