{{- $Module := currentModule -}}
{{- $ModuleName :=  firstUpper $Module.Name -}}
package {{$Module.Pkg}}

import (
	"context"
)

type {{$ModuleName}}Service interface {
	Query{{$ModuleName}}(ctx context.Context, request {{$ModuleName}}) (*{{$ModuleName}}, error)
	Query{{$ModuleName}}List(ctx context.Context, request {{$ModuleName}}, offset int, limit int) ([]{{$ModuleName}}, error)
	Insert{{$ModuleName}}(ctx context.Context, request {{$ModuleName}}) (int64, error)
	Insert{{$ModuleName}}Batch(ctx context.Context, request ...{{$ModuleName}}) error
	Update{{$ModuleName}}(ctx context.Context, request {{$ModuleName}}) (bool, error)
	Delete{{$ModuleName}}(ctx context.Context, request {{$ModuleName}}) (bool, error)
}