package swagger

import (
	"github.com/gin-gonic/gin"
	"github.com/swaggo/gin-swagger"
	"github.com/swaggo/gin-swagger/swaggerFiles"
)

type Handler struct {
	Enable bool   `fig:"swagger.enable"`
	Path   string `fig:"swagger.path"`
}

func NewHandler() *Handler {
	return &Handler{}
}

func (h *Handler) HttpRoutes(engine gin.IRouter) {
	if h.Enable {
		if h.Path == "" {
			h.Path = "/swagger"
		}
		engine.GET(h.Path+"/*any", ginSwagger.WrapHandler(swaggerFiles.Handler))
	}
}